:root {
  --hh: 90px;
  --color-primary: rgb(29, 153, 128);

  --bg-body: #E4EEEB;
  --txt-body: #222;

  /* Colors */
  --primary: #09b299;
  --info: #3298dc;
  --success: #48c774;
  --warning: #ffdd57;
  --danger: #f14668;
  --link: #3273dc;
}

.dark {
  --bg-body: #222;
  --txt-body: #f5f5f5;
}

html {
  font-family: cursive; /*system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--txt-body)
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

img {
  max-width: 100%;
  height: auto;
}

/* Utilities */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.section {
  width: 100%;
  padding: 100px 0;
}

.section--color {
  background-color: #f0f0f0;
}

.section__title {
  margin-bottom: 16px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--hh);
  background-color: white;
  /* [offset-x] [offset-y] [blur-radius] [spread-radius] [color] */
  box-shadow: 0 5px 10px 2px #0000002c;
  /* auto* | integer */
  z-index: 1;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.logo {
  color: #222;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  gap: 4px;
}

.logo__icon {
  color: var(--primary);
  font-size: 40px;
}

.nav__list {
  display: flex;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  color: #222;
  font-weight: 600;
  transition: color .3s;
}

.nav__link:hover {
  color: var(--primary);
}

.btn--open {
  font-size: 32px;
  display: flex;
}

/* Hero */
.hero {
  background-color: #222;
  background-image: linear-gradient(to bottom, #000000bb, #000000c6), url('/assets/img/photo-1624313976899-0fd4989a2fcd.avif');
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
}

.hero .container {
  height: calc(100vh - var(--hh));
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.hero__title {
  color: var(--primary);
  margin: 0;
  text-align: left;
}

.hero__name {
  color: #fff;
  font-size: 40px;
}

.hero__description {
  color: #aaa;
  font-style: italic;
}

.hero__description span {
  font-size: 24px;
  color: #fff;
  font-style: normal;
}

span.hero__typing {
  font-size: 38px;
  color: var(--primary);
}

.hero__cv {
  font-size: 1.4rem;
}

/* about */

.about {
    background-color: rgba(187, 184, 184, 0.514);
    color: black;
    padding: 50px 20px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  display: flex;
  justify-content: center;
}

.about__image {
  margin: 0 auto;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 50%;
  transform: scale(1);
  transition: transform .3s;
}

.about__image:hover .about__img {
  transform: scale(1.2);
}

/*------Skills------*/

.content__section {
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills h2 {
  font-size: 34px;
  text-align: center;
  padding: 20px 0;
}

.skills__title {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  margin-top: 20px;
}

.skills__contenido {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  text-align: center;
  font-size: 17px;
}

.skills__span {
  font-weight: bold;
  font-size: 1.40rem;
}

.skills__parrafo {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: justify;
}

.skills__img {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  justify-content: space-around;
  align-content: space-around;
  gap: 20px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.skills__card {
  display: flex;
  flex-direction: column;
  width: 70px;
  font-size: .7rem;
  text-align: center;
}

.img__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(96, 94, 94);
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.link {
  width: 40px;
  height: 50px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.img__card:hover {
  background-color: #1cb699;
}

.card__title {
  font-size: .9rem;
  font-weight: bold;
}

.card__text {
  font-size: .8rem;
}

.skills__card span {
  margin: 0 auto;
}

/* Works */

.works {
  background-color: rgba(187, 184, 184, 0.514);
  color: black;
  padding: 50px 20px;
}

.works__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

.works__item {
  border-radius: 12px;
  overflow: hidden;
}

.works__body {
  background-color: var(--bg-body);
  padding: 20px;
  color: var(--txt-body);
  width: 90%;
}

.works__head {
  display: flex;
  /* flex propiedades de aliniacion */
  /* justify-content | align-items */
  justify-content: space-between;
  margin-bottom: 20px;
}

/* justify-content | justify-items | align-content | align-items */

.works__title  {
  font-size: 20px;
  margin: 0;
}

.section__description {
  color: var(--txt-body) ;
}

.works__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.works__links .bx {
  font-size: 24px;
}

.works__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: #f5f5f5;
}

.works__skill {
  background-color: var(--txt-body);
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;

  display: flex;
  gap: 2px;
  align-items: center;
}

.works__skill .bx {
  font-size: 16px;
}


/* Contact */

.contact__links {
  display: flex;
  flex-wrap: wrap;
  gap: px;
}

.contact__link {
  background-color: #222;
  padding: 8px 12px;
  color: #fff;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 8px;
}

.contact__link .bx {
  color: var(--primary);
}

/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}

/*------CONTACTO------*/
.contacto {
  padding: 50px 0;
}

.contacto .container {
  max-width: 1024px;
  margin: auto;
}

.contacto h2 {
  font-size: 36px;
  font-weight: bold;
}

.contacto h2, p {
  text-align: center;
}

.section__description {
  font-size: 20px;
}

.contacto .encierre {
  display: flex;
}

.contacto .contact__links {
  width: 50%;
  padding: 10px;
  position: relative;
}

.contacto .contact__links input,
.contacto .contact__links textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  color: black;
  font-size: 18px;
}

.contacto button {
  width: fit-content;
  margin: 20px auto;
  display: block;
  padding: 10px 22px;
  font-size: 16px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid gray;
}

.contacto button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 1s;
  background-color: #1cb699;
}

.contacto button:hover .overlay {
  width: 100%;
}

.contacto .contact__links img {
  width: 100%;
  height: 380px;
  border: 1px solid #252a2e ;
  border-radius: 20px;
}

.contacto .contact__links .info {
  position: absolute;
  top: 30%;
  background-color: #252a2e;
  padding: 20px;
  color: white;
  max-width: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacto .contact__links ul {
  list-style: none;
}

.contacto .contact__links ul li {
  margin-bottom: 20px;
}

.contacto .contact__links ul li i {
  color: #1cb699;
  margin-right: 5px;
}


/*-----Dark Mode-----*/
.nav__switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 30px;
  padding: 0 5px;
  position: relative;
  border-radius: 90px;
  border: black solid 2px;
  background-color: #222; 
}

.nav__switch i {
  font-size: 1rem;
  color: #f5f5f5;
}

.nav__list li:last-child::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: solid thin #222;
  left: 0;
  right: unset;
}

.nav__list li:last-child.active::before{
  right: 0;
  left: unset;
  border: solid thin #222;
}

.nav__list li:last-child.active i:first-child {
  color: #222;
}

.nav__list li:last-child.active {
  background-color: #f5f5f5;
  border: solid 1px #222;
}

body.active header {
  background-color: #241e1e;
}

body.active nav ul li a {
  color: #f5f5f5;
} 

body.active .logo span {
  color: #f5f5f5;
} 

body.active main section:nth-child(2) {
  background-color: #241e1e;
}

body.active main section:nth-child(2) h2{
  color: #f5f5f5;
}

body.active main section:nth-child(2) p{
  color: #f5f5f5;
}

body.active main section:nth-child(3) {
  background-color: #241e1e;
}

body.active main section:nth-child(3) h2 {
  color: #f5f5f5;
}

body.active main section:nth-child(3) span {
  color: #f5f5f5;
} 

body.active main section:nth-child(3) p {
  color: #f5f5f5;
} 

body.active main section:nth-child(4) {
  background-color: #241e1e;
}

body.active main section:nth-child(4) h2 {
  color: #f5f5f5;
}

body.active main section:nth-child(4) p {
  color: #f5f5f5;
}

body.active main section:nth-child(4) .works__body {
  background-color: #383535;
  color: #f5f5f5;
}

body.active main section:nth-child(5) {
  background-color: #241e1e;
}

body.active main section:nth-child(5) h2 {
  color: #f5f5f5;
}

body.active main section:nth-child(5) p {
  color: #f5f5f5;
}

body.active main section:nth-child(5) button {
  color: #f5f5f5;
}












/* Media Queries */
/*
  max-width: de 0 a valor
  min-width: desde valor a infinito
*/

/* offset */
@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    width: 85%;
    background-color: #222;
    padding: 60px 40px;

    top: 90px;
    right: -100%;
    bottom: 0;
    transition: right .3s;
  }

  .show--menu {
    right: 0;
  }

  .btn--close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 32px;
    display: flex;
  }

  .nav__link {
    color: #fff;
  }

  .nav__list {
    flex-direction: column;
  }
}

@media (min-width: 522px) {
  .hero__name {
    font-size: 75px;
  }

  .hero__description {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .section__title {
    font-size: 28px;
  }

  .btn--close {
    display: none;
  }

  .btn--open {
    display: none;
  }

  .about__content {
    flex-direction: row;
    align-items: center;
  }

  .about__info {
    width: 50%;
    font-size: 18px;
  }

  .about__image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .section__title {
    font-size: 38px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__name {
    font-size: 100px;
  }

  .hero__description {
    font-size: 42px;
  }

  .about__info {
    font-size: 24px;
  }

  .about__image {
    max-width: 375px;
    height: 375px;
  }
}